<script>
$(document).ready(function(){
    $(".form-check-input").click(function(){
        $(this).css("background-color", "green")
        const questid = $(this).parent().siblings().attr("id")
        $(this).next().css({"color":"green","font-weight":"bold"})
        const optval = $(this).val()
        const inputdiv = $(this).parent()
        updateddata = ""
        var spantag = $(this).parent().siblings("p").parent().find("span")
        var paratag = $(this).parent().parent().parent().find(".votingmsg")
        paratag.css({"color":"#538ecd", "font-weight":"700"})
        console.log(paratag)
        pollanswer = { 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(), 'questid':questid, 'optval':optval }
        $.ajax({
            url: "{% url 'viewpoll' %}",
            method: "POST",
            data: pollanswer,
            success: function(data){
                if (data.status_code==201) {
                    console.log(data.percentage);
                    var arr = data.percentage;
                    for (let i = 0; i < arr.length; i++) {
                        // console.log(arr[i])
                        spantag[i].textContent = arr[i]+"%"
                        
                    }
                }
                if (data.status_code==200) {
                    // console.log(data.message)
                    paratag.text(data.message)
                    
                }
            }
            
        });
        
});
});
      
</script>