/* .container-fluid a{
    color: white;
} */

/* viewpoll style */
.row .pollclass{
    background-color: rgb(240, 246, 240);
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.span{
    float: right !important;
    text-align: right;
}

form .form-check:nth-child(even) {
    background: white;
  }

form .form-check:nth-child(odd) {
    
    background: #f2f2f2;
  }

  .form-check{
    padding:10px 20px;
    margin: 0 !important;
    padding-left: 30px;
  }


